<div class="container mt-5">
  <div class="jumbotron">
    <div class="row">
      <div class="col-12">
        <h2>Trix Editor and Shrine Integration</h2>
        <hr>
        <p>
          This demo application uses Shrine to handle the image upload for
          Trix Editor. It also demonstrates some helpful functions such as
          image versioning and image file management. Please visit this
          application's
          <%= link_to 'Github page', 'https://github.com/halczy/trix-shrine' %>
          for more information.
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="card-deck">
      <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Setup Trix Editor</h4>
            <p class="card-text">
              This section introduces the steps required to setup Trix Editor
              to work on your Ruby on Rails application.
            </p>
          </div>
          <div class="card-footer">
            <%= link_to 'Tutorial', static_pages_setup_trix_path,
                                    class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Source Code',
                        'https://github.com/halczy/trix-shrine/tree/trix-editor',
                        class: 'btn btn-sm btn-success' %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Setup Shrine</h4>
            <p class="card-text">
              For this section, we will introduce the bare minimum that is
              necessary to setup Shrine to handle image uploading.
            </p>
          </div>
          <div class="card-footer">
            <%= link_to 'Tutorial', '#', class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Source Code', '#', class: 'btn btn-sm btn-success' %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">AJAX Image Upload</h4>
            <p class="card-text">
              This section will introduce how to upload images from the
              Trix Editor to the Shrine image controller using AJAX.
            </p>
          </div>
          <div class="card-footer">
            <%= link_to 'Tutorial', '#', class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Source Code', '#', class: 'btn btn-sm btn-success' %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Image Management</h4>
            <p class="card-text">
              This section includes helpful functions that will help you manage
              images uploaded through the Trix Editor and clean up images
              that are uploaded but not used.
            </p>
          </div>
          <div class="card-footer">
            <%= link_to 'Tutorial', '#', class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Source Code', '#', class: 'btn btn-sm btn-success' %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Image Processing</h4>
            <p class="card-text">
              We will introduce Shrine's image processing functionality in
              this section. Shrine will generate different versions of the
              images uploaded and return a fitted version to the Trix Editor.
            </p>
          </div>
          <div class="card-footer">
            <%= link_to 'Tutorial', '#', class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Source Code', '#', class: 'btn btn-sm btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
