<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <p><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</p>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.trix_editor :content, class: 'trix-content' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
